<section class="home_page">
  <h1>BetterNote</h1>
  <p>
    An evernote clone.
  </p>

  <ul class="clearfix">
    <li><a href="<%= new_session_url %>">Sign In</a></li>
    <li><a href="<%= new_user_url %>">Sign Up</a></li>
  </ul>
</section>
