<%= render 'shared/header' %>

<h1 class="home">Welcome to BetterNote</h1>

<section class="home_page">
  <p>
    A note taking and organization app inspired by evernote.
  </p>

  <ul class="clearfix">
    <li><a href="<%= new_session_url %>">Sign In</a></li>
    <li><a href="<%= new_user_url %>">Sign Up</a></li>
  </ul>
</section>
