<div class="list_item" data-id="<%= content.get('id') %>">
  <button class="title"><%= content.get('title') %></button><br>
  <% if (type === "notebooks")  {%>
    <a class="edit" data-href="notebooks/<%= content.get('id') %>/edit">edit</a>
  <% } %>
  <% if (!(type === 'tags')) { %>
    <button class="delete">delete</button>
  <% } %>
</div>
