<button class="title" data-id="<%= content.get('id') %>"><%= content.get('title') %></button><br>
<a class="edit" data-href="notebooks/<%= content.get('id') %>/edit">edit</a>
<button class="delete">delete</button>
