<form class="user" action="<%= status %>" method="Post">
  <%= auth_token %>
  <section class="input"
    <label for="user_email">Email address</label><br>
    <input type="text" name="user[email]"><br>
  </section>
<br>
  <section class="input">
    <label for="user_password">Password</label><br>
    <input type="password" name="user[password]"><br>
  </section>
  <button class="submit">submit</button>
  <a href="/session/new/guest">Sign in as Guest</button>
</form>
