/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// reset

h1, h2, h3, ul, li, p, body, section, nav, header, button {
  font: inherit;
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
}

ul, li {
  list-style: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

// header

.header {
  padding: 20px;
  background: green;
}

.header > .logo {
  float: left;
  font-size: 35px;
}

.header > .link button {
  display: block;
  padding: 10px;
  background: grey;
  text-align: center;
  margin-left: 80%;
  margin-top: 2px;
}

.header > .link a {
  display: block;
  padding: 10px;
  background: grey;
  text-align: center;
  margin-left: 80%;
  margin-top: 2px;
}

// sidebar

.sidebar {
  width: 100px;
  background: yellow;
  position: absolute;
  top: 80px;
  bottom: 0;
}

.sidebar > nav {
  margin-top: 55px;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  background: red;
  margin-top: 20px;
}
