/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// reset

h1, h2, h3, ul, li, p, body, section, nav, header, button {
  font: inherit;
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
}

ul, li {
  list-style: none;
}


html, body {
  display: block;
  height: 100%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

// main
.main {
  display: block;
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
}

// header

.header {
  padding: 20px;
  background: green;
}

.header > .logo {
  float: left;
  font-size: 35px;
}

.header > .link button {
  display: block;
  padding: 10px;
  background: grey;
  text-align: center;
  margin-left: 80%;
  margin-top: 2px;
}

.header > .link a {
  display: block;
  padding: 10px;
  background: grey;
  text-align: center;
  margin-left: 80%;
  margin-top: 2px;
}

// sidebar

.sidebar {
  width: 100px;
  background: yellow;
  position: absolute;
  top: 81px;
  height: 100%;
}

.sidebar > nav {
  margin-top: 55px;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  background: red;
  margin-top: 20px;
}

// sidepane

.sidePane .new {
  text-decoration: underline;
  text-color: blue;
  cursor: pointer;
}



.sidePane{
  position: absolute;
  top: 81px;
  height: 100%;
  left: 100px;
  right: 50%;
  background: orange;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.sidePane .content {
  border-top: 2px solid black;
}

.sidePane h2 {
  margin-bottom: 20px;
}

.sidePane .content > li {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  border-bottom: 2px solid black;
  font-size: 18px;
}


// noteview

.noteView {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0px;
  background: #ccc;
}

.noteView div {
  padding: 20px 0 0 20px;
  // border-bottom: 2px solid black;
}

.noteView Button {
  margin-top: 10px;
  padding: 10px;
  background: purple;
  color: white;
  margin-bottom: 20px;
}

.noteView h1 {
  font-size: 24px;
}

.noteView p {
  margin-top: 20px;
  margin-bottom: 20px;
}
