/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// reset

h1, h2, h3, ul, li, p, body, section, nav, header, button, form {
  font: inherit;
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

ul, li {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

html {
  height: 100%;
}

html, body {
  display: block;
  background: #ccc;
}

body {
  height: 100%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

// home page

.home_page {
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 18px;
  width: 500px;
  height: 200px;
  margin: 0 auto;
  background: #fff;
}

h1.home {
  display: block;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.home_page p {
  display: block;
  text-align: center;
}

.home_page ul {
  margin-top: 30px;
  text-align: center;
}

.home_page li:first-child {
  margin-left: 188px;
}

.home_page li {
  float: left;
  margin-right: 10px;
}

// main
.main {
  display: block;
  float: left;
  width: calc(100% - 583px);
  height: 100%;
}

// header

.header {
  font-family: gotham, helvetica, arial, sans-serif;
  padding: 20px;
  background-image: url(http://fc09.deviantart.net/fs70/i/2012/195/5/a/forest_panorama_by_blackasmodeus-d5774oa.jpg);
}

.header > .logo {
  float: left;
  font-size: 35px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, -1px 0 white;
}

.header > .link button {
  display: block;
  padding: 10px;
  text-align: center;
  margin-left: 80%;
  background: #ccc;
  margin-top: 2px;
  border: 1px solid #fff;
}

.header > .link button:hover {
  background: #aaa;
}

.header > .link a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  background: grey;
  text-align: center;
  margin-left: 80%;
  margin-top: 2px;
}

// sign up/sign in

div.homeMessage p {
  text-align: center
}

section.user {
  font-family: gotham, helvetica, arial, sans-serif;
  display: block;
  padding: 30px;
  padding-right: 40px;
  width: 400px;
  background: #fff;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #aaa;
  color: #888;
}

section.user h1 {
  color: black;
  display: block;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

form.user input {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  padding: 5px;
}

section.user h1 {
  font-size: 24px;
  display: block;
  margin-bottom: 30px;
}

form.user button {
  background: rgb(45, 190, 96);
  padding: 10px;
  width: 100%;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
}

form.user a {
  display: block;
  margin-top: 30px;
}

form.user button:hover {
  background: rgb(30, 127, 64);
}


//

.sidebar {
  font-family: gotham, helvetica, arial, sans-serif;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  width: 80px;
  padding: 12px 12px 24px 19px;
  background: #f8f8f8;
  border-right: #ececec;
  height: 100%;
}

.sidebar > nav {
  position: absolute;
  height: 100%;
  top: 15px;
}

.sidebar figure {
  background-image: image-url("logo.png");
  display: block;
  background-repeat: no-repeat;
  margin: 0;
  height: 0;
  width: 39px;
  padding-top: 39px;
  background-position: 0 0;
  background-size: 39px 39px;

}

.sidebar a.new {
  display: block;
  cursor: pointer;
  // margin-left: 20px;
}

.sidebar button, .sidebar a.new {
  display: block;
  position: absolute;
  background-image: image-url("sidebar_sprite.png");
  background-repeat: no-repeat;
  margin: auto;
  width: 36px;
  height: 0;
  padding-top: 36px;
  overflow: hidden;
  border-radius: 50%;
  background-position-x: -6px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.sidebar button:hover {
  background-position-x: -46px;
  border: 0;
  cursor: pointer;
}

.sidebar a.new {
  background-position: -46px -123px;
  top: 80px;
}

.sidebar a.new:hover {
  background-position: -5px -123px;
  border: 0;
}

.sidebar button.search {
  background-image: image-url("blocks/zoosearch.png");
  display: block;
  position: absolute;
  top: 130px;

  background-repeat: no-repeat;
  margin: auto;
  width: 36px;
  height: 0;
  padding-top: 36px;
  overflow: hidden;
  border-radius: 50%;
  background-position-x: 0;
  background-color: #fff;
  border: 1px solid #ccc;

}

.sidebar button.search:hover {
  background-image: image-url("blocks/zoosearchselected.png");
}

.sidebar button.notebooks {
  background-position-y: -40px;
  top: 200px;
}


.sidebar button.notes {
  background-position-y: 0;
  top: 250px;
}

.sidebar button.tags {
  background-position-y: -82px;
  top: 300px
}

.sidebar button.logout {
  background: transparent;
  border: none;
  padding: 0;
  height: 18px;
  width: 51px;
  border-radius: 0;
  font-size: 16px;
  bottom: 60px;
}

// sidepane

.sidePane .new {
  display: block;
  float: right;
  text-decoration: underline;
  text-color: blue;
  cursor: pointer;
}

.newNote {
  float: left;
}

.sidePane .top {
  display: block;
  height: 90px;
}

.sidePane section >  h2 {
  font-size: 30px;
  clear: left;
  padding: 24px 0 0 24px;
}

.sidePane a.newNotebook {
  background-image: image-url("add_notebook.png");
  float: right;
  background-position: 0 0;
  display: block;
  background-repeat: no-repeat;
  height: 0;
  width: 39px;
  margin: 0;
  margin-top: 25px;
  // margin-right: 24px;
  padding-top: 39px;
  background-position: 0 0;
  background-size: 30px 30px;
  overflow: hidden;
  cursor: pointer;
}

input.search, #query {
  display: block;
  clear: both;
  width: 364px;
  margin: 0 auto;
  font-size: 16px;
  background: #ccc;
  border: 1px solid grey;
  outline: 0;
}

.sidePane{
  font-family: gotham, helvetica, arial, sans-serif;
  float: left;
  height: 100%;
  margin-left: 81px;
  width: 500px;
  background: #fff;
  border-right: 2px solid #ececec;
  text-align: center;
  overflow: auto;
}
.sidePane .content {
  margin-top: 30px;
  clear: both;
  text-align: left;
  border-top: 3px solid #d9d9d9;
}

.sidePane h2 {
  display: block;
  float: left;
  margin-bottom: 20px;
  text-align: center;
}

.sidePane .content > li {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  border-bottom: 3px solid #d9d9d9;
  font-size: 18px;
}

.content button {
  padding: 5px;
}

.content button.delete:hover {
  background: gray;
}

.content a {
  padding-left: 5px;
  padding-right: 5px;
}

.content li {
  cursor: pointer;
}

.content li:hover {
  background: #3c6;
}

.content a:hover {
  cursor: pointer;
  background: gray;
}


// noteview

.noteView {
  font-family: gotham, helvetica, arial, sans-serif;
  display: block;
  font-family: sans-serif;
  height: 100%;
  background: #fff;
  overflow: hidden;
}

.noteView form {
  margin: 0 20px;
}

.noteView div.notebooks {
  padding: 20px 0 0 0;
  margin-right: 20px;
  float: left;
}

// .noteView div {
//   display: block;
//   height: 100%;
//   text-align: center;
// }

.noteView div.lineSeparator {
  height: 0;
  padding: 0;
  border-top: 1px solid #ccc;
  width: 70px;
  margin: 0 auto;
}

figure.notebook {
  background-image: image-url("add_notebook.png");
  background-position: 0 0;
  display: block;
  background-repeat: no-repeat;
  height: 0;
  width: 39px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 20px;
  padding-top: 39px;
  background-position: 0 0;
  background-size: 30px 30px;
  overflow: hidden;
}

h2.notebook-header {
  text-align: center;
  font-size: 28px;
  margin-bottom: 24px;
}

.notebook-form input {
  display: block;
  height: 50px;
  font-size: 24px;
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  outline: 0;
}

.notebook {
  width: 80px;
}

.noteView Button {
  padding: 10px;
  background: purple;
  color: white;
}

// note form

select.notebook {
  width: 100px;
}

.allTags {
  display: block;
  // float: left;
  clear: left;
  margin-top: 8px;
}

button.new_tag {
  color: #ccc;
  margin-left: 20px;
  margin-top: 20px;
  padding: 3px 40px 3px 3px;
  font-size: 12px;
  background: transparent;
  border: 1px solid brown;
  cursor: text;
}

.tag_input {
  margin-left: 20px;
  margin-top: 20px;
  padding: 3px 40px 3px 3px;
  background: transparent;
  outline: 0;
  border: 1px solid brown;
  line-height: 1.7;
}

.add_tags {
  clear: left;

}

li.tag {
  display: block;
  margin-right: 10px;
  float: left;
}

li.tag > button.remove {
  margin-top: 10px;
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  background: #3c6;
}


.noteView h1 {
  display: block;
  clear: left;
  font-size: 24px;
}

// .noteView p {
//   box-sizing: border-box;
//   border: 1px solid black;
//   padding: 20px;
//   font-size: 16px;
//   padding-bottom: 20px;
//   height: 100%;
//   min-height: 300px;
// }

//
.noteView section.note_input {
  display: block;
  box-sizing: border-box;
  // border: 1px solid black;
  height: 100%;
  padding: 20px;
  width: 100%;
  min-height: 300px;
  font-size: 16px;
  background: transparent;
}

// // form
.inactive {
  display: none;
}

h1.inactive {
  display: none;
}

div.inactive {
  display: none;
}

div.title_input {
  line-height: 1.4;
  font-size: 25px;
  padding: 10px;
  border: 0;
  width: 100%;
  text-align: left;
  outline: 0;
  border: 1px solid #ccc;
}

div.main_input {
  box-sizing: border-box;
  outline: 0;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  min-height: 300px;
}

label.fileInp {
  position: relative;
  top: 45px;
}

input.fileInp {
  position: relative;
  top: 45px;
}
