<div contenteditable="<%= note.isNew() %>" name="body" class="main_input"><%= note.get('body') %>
  <% if (note.get('image_url')!== '/images/original/missing.png') { %>
    <img src="<%= note.get('image_url') %>">
  <% } %>
</div>
<input type="file" class="fileInp" value="add file"></input>
