<% if (note.isNew()) { %>
  <h1>New Note</h1>
<% } else { %>
  <h1>Edit Note</h1>
<% } %>

<section class="note_container">
  <label for="note_notebook">Notebook</label>
  <select class="notebook" name="notebook_id">
    <% BetterNote.notebooks.each(function(notebook) { %>
      <option value="<%= notebook.get('id') %>"
        <% if (notebook.get('id') == note.get('notebook_id')) { %>
          selected
        <% } %>
        ><%= notebook.get('title') %></option>
    <% }) %>
  </select>

  <ul class="allTags inactive"></ul>

  <div class="add_tags">
  </div>
</section>

<br>

<section class="note_input">
  <label for="note_title">Title</label><br>
  <input type="text" class="main_input" value="<%= note.get('title') %>" name="title"><br>

  <label for="note_body">Body</label><br>
  <textarea name="body" class="main_input" rows="8" cols="40"><%= note.get('body') %></textarea>
</section>
<button class="submit">Submit</button>
