<figure class="notebook"></figure>
<h2 class="notebook-header"><%= message %> Notebook</h2>

<div class="lineSeparator"></div>

<form class="notebook-form" action="/api/notebooks" method="post">
  <input type="text" name="title" value="<%= notebook.get('title') %>" placeholder="Title your notebook"><br>
</form>

<% if (BetterNote.notebooks.length === 0) { %>
  <div class="warning"><p>Create at least 1 notebook before making a note!</p></div>
<% } %>
