<section class="note_container">
  <div class="notebooks"></div>

  <ul class="allTags clearfix"></ul>

  <div class="add_tags">
  </div>
</section>

<br>

<section class="note_input">
</section>
<% if (note.get('image_url')) { %>
  <img src="<%= note.get('image_url') %>">
<% } %>
<input type="file" class="fileInp" value="add file"></input>
