<h2 class="notebook-form"><%= message %> Notebook</h2>

<form action="/api/notebooks" method="post">
  <label for="notebook_title">title</label><br>
  <input type="text" name="notebook[title]" value="<%= notebook.get('title') %>"><br>
  <button clas="submit">Submit</button>
</form>
