<!-- <h1 class="title_input"><%= note.get('title') %></h1> -->

<div class="title_input" contenteditable=true><%= note.get('title') %></div>
<!-- <input type="text" class="title_input inactive" value="<%= note.get('title') %>" name="title" placeholder="enter title here"><br> -->
