<figure class="logo"></figure>
<a href="#/notes/new" class="new">new note</a>

<button class="search">search</button>

<button class="notebooks">notebooks</button>
<button class="notes">notes</button>
<button class="tags">tags</button>

<form action="/session" method="post">
  <input type="hidden" name="_method" value="Delete">
  <input class="auth_token" type="hidden" name="authenticity_token" value="<%= auth_token %>">
  <button class="logout">Logout</button>
</form>
